.user-list-page {
  background-color: #1c1d21;
  padding: 30px;
  flex-grow: 1;
  border-radius: 5px;

  .user-list-title {
    text-align: center;
  }

  .users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}