.edit-user-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);

    .edit-user-modal-body {
        padding: 30px;
        max-width: 700px;
        flex-grow: 1;
        background-color: #1c1d21;
        display: flex;
        flex-direction: column;
        outline: none;
    }

    .edit-user-title {
        margin: 0 0 20px;
        text-align: center;
    }

    .edit-user-form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        label + label {
            margin-top: 20px;
        }
    }

    .edit-user-input {
        width: 100%;
        box-sizing: border-box;
        resize: none;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 18px;
        padding: 10px;
    }

    .edit-user-select {
        width: 100%;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;

        option {
            height: 40px;
        }
    }

    .edit-user-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .edit-user-button,
    .edit-user-close {
        background-color: #445878;
        color: #fff;
        text-transform: uppercase;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: rgba(146, 205, 207, 1);
        }
    }
}
