.messages-divider {
    height: 2px;
    background-color: rgba(49, 53, 61, 1);
    margin-top: 50px;
    position: relative;

    .messages-divider-date {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1c1d21;
        padding: 0 5px;
    }
}
