.menu {
  display: flex;
  margin-left: 100px;

  .menu-link {
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    text-decoration: none;
    color: #1c1d21;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #445878;
    }

    & + .menu-link {
      margin-left: 30px;
    }
  }
}
