.login-page {
  display: flex;
  justify-content: center;
  height: 100%;
}


  .login-container {
    border-radius: 5px;
      padding: 30px;
      max-width: 500px;
      height: 230px;
      margin-top: 200px;
      flex-grow: 1;
      background-color: #1c1d21;
      display: flex;
      flex-direction: column;
      outline: none;
  }

  .login-title {
      margin: 0 0 20px;
      text-align: center;
  }

  .login-form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
  }

  .login-input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;

      & + .login-input {
        margin-top: 20px;
      }
  }

  .login-button {
      background-color: #445878;
      color: #fff;
      text-transform: uppercase;
      border-radius: 10px;
      border: none;
      outline: none;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: 500;
      transition: background-color 0.3s ease;
      cursor: pointer;
      margin-top: auto;

      &:hover {
          background-color: rgba(146, 205, 207, 1);
      }
  }
