.user-card-edit {
  background-color: rgba(49, 53, 61, 0.7);
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;

  .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .username {
    margin: 0 0 10px;
    font-size: 24px;
  }

  .edit-button {
    margin-left: auto;
    margin-right: 20px;
  }

  .edit-button,
  .delete-button {
    background-color: #445878;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(146, 205, 207, 1);
    }

    &:disabled {
      background-color: rgba(49, 53, 61, 0.7);
      color:rgba(255,255,255,0.25);
      cursor: default;
    }
  }
}
