.not-found-page {
  .not-found-page-title {
    color: #1c1d21;
    text-align: center;
    margin-bottom: 100px;


  }
}
.not-found-page-link {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  font-size: 24px;
  color: #445878;
  text-decoration: none;
}