.message-input {
    padding: 20px;
    background-color: #1c1d21;
    margin-top: 20px;

    form {
        display: flex;
    }

    .message-input-text {
        flex-grow: 1;
        height: 60px;
        padding: 0 20px;
        font-size: 18px;
        margin: 0;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 20px;
    }

    .message-input-button {
        background-color: #445878;
        color: #fff;
        text-transform: uppercase;
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 0px 50px;
        width: 170px;
        font-size: 26px;
        font-weight: 500;
        margin-left: 20px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: rgba(146, 205, 207, 1);
        }
    }
}
