.user-list-buttons {
  margin: 30px 0;

  .add-user-button {
    background-color: #445878;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(146, 205, 207, 1);
    }
  }
}
