.message {
    background-color: rgba(49, 53, 61, 0.7);
    max-width: 700px;
    display: flex;
    padding: 20px;
    border-radius: 0 5px 5px 0;
    margin-top: 50px;

    .message-user-avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-right: 20px;
        background: url("../../../../img/no-avatar.svg") no-repeat center center;
        background-size: cover;
        flex-shrink: 0;

        img {
            max-height: 100%;
            object-fit: contain;
        }
    }

    .message-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .message-user-name {
        margin: 0 0 10px;
        font-size: 24px;
    }

    .message-text {
        margin-bottom: 10px;
        word-break: break-word;
    }

    .message-body-bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .message-like,
    .message-liked {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .message-liked {
        svg {
            fill: #fff;
        }
    }
}
