.user-card {
  background-color: rgba(49, 53, 61, 0.7);
  display: flex;
  padding: 20px;
  border-radius: 5px;

  .avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 20px;
    background: url("../../img/no-avatar.svg") no-repeat center center;
    background-size: cover;
    flex-shrink: 0;

    img {
      max-height: 100%;
      object-fit: contain;
    }
  }

  .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    div + div {
      margin-top: 10px;
    }
  }

  .username {
    margin: 0 0 10px;
    font-size: 24px;
  }

  span {
    font-weight: bold;
  }
}
