.own-message {
    background-color: #445878;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: auto;
    border-radius: 5px 0 0 5px;
    margin-top: 50px;

    .message-text {
        margin-bottom: 10px;
        width: 100%;
        word-break: break-word;
    }

    .message-body-bottom {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        flex-grow: 1;
    }

    .message-edit,
    .message-delete {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }
}
