.edit-message-page {
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1c1d21;

  .edit-message-body {
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    outline: none;
  }

  .edit-message-title {
    margin: 0 0 20px;
    text-align: center;
  }

  .edit-message-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .edit-message-input {
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    resize: none;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
  }

  .edit-message-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }

  .edit-message-button,
  .edit-message-close {
    background-color: #445878;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(146, 205, 207, 1);
    }
  }
}

.modal-shown {
  display: flex;
}
